@import '../../styles/mixins.scss';

header {
  color: inherit;
  position: absolute;
  width: 100%;
  padding: 1.5rem 0;

  .logo {
    color: inherit;
    display: inline-block;
    font-size: 1.3rem;
    font-family: inherit;
    margin: 0;
    font-weight: 300;
    background-color: transparent;
    border-radius: 0;
    border: 0;
    outline: none;
    padding: 0;

    &,
    &:hover,
    &:focus {
      text-decoration: none;
      color: inherit;
    }
  }
}
