main {
  background-color: #f9f9f9;
  padding: 7rem 0;

  h1 {
    font-size: 2rem;
    font-weight: 100;
    text-align: center;
  }

  h2 {
    font-weight: 100;
    text-align: center;
  }
}

@media #{$gm-xs-lg} {
  section {
    height: auto;
  }
}
