@import '../../styles/mixins';

.list {
  .items {
    padding: 0;
    margin: 0;
    margin: 0 0 1rem;
    background-color: #fff;
    @include box-shadow((0 0 11px 0 rgba(0, 0, 0, .08),
                         0 4px 15px 0 rgba(0, 0, 0, .1)));

    .item {
      margin: 0;
      width: 100%;
      display: block;
      list-style: none;
      padding: 0;
      background-color: #fff;
      cursor: pointer;
      transition: .3s ease;
      border-bottom: .1rem solid #f1f1f1;
      position: relative;
      overflow: auto;

      &:last-child {
        border-color: transparent;
      }

      &:hover {
        background-color: #f9f9f9;
      }

      .text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1rem;
        font-weight: 300;
        padding: .75rem 1.3rem;
        display: block;
        width: 90%;
        float: left;
      }

      small {
        color: #aaa;
        margin: 0 0 0 .5rem;
      }

      .action {
        padding: 1.55rem 1.3rem 1rem 0;
        display: block;
        width: 10%;
        font-size: 1.3rem;
        text-align: right;
        float: left;

        svg path { color: #bfbcbc; }
      }
    }
  }
}
